body{
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url("../images/worldmap.jpg");

}

h1{
    text-align: center;
    font-size: 5vw;
    text-decoration: underline;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

div{
    text-align: center;
}

table{
    margin: auto;
    table-layout: auto;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

table, th, td {
    font-size: 3vw;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
  }

.column-1{
padding-left:  30px;
padding-right: 30px;
}


#weather{
padding-left:  30px;
padding-right: 30px;
}

#button {
    margin-top: 10px;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
  }

#footer{
    background-color: white;
    font-size: 2vw;
    text-align: center;
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightblue;
  }

  table, th, td:hover {
    background-color: rgb(206, 197, 197);
  }

  #button:hover{
    background-color: rgb(206, 197, 197);
  }